{% extends "base.html" %}
{% load static %}

{% block container %}
<main class="container">
  <article class="grid">
    <div>
      <hgroup>
        <h1>Register</h1>
        <h2>Join us in the quest to save.</h2>
      </hgroup>
      <form>
        <input
          type="text"
          name="login"
          placeholder="Register@email.com"
          aria-label="Login"
          autocomplete="nickname"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          autocomplete="current-password"
          required
        />
        <fieldset>
          <label for="remember">
            <input type="checkbox" role="switch" id="remember" name="remember" />
            Remember me
          </label>
        </fieldset>
        <button type="submit" class="contrast" onclick="event.preventDefault()">Let's Go!</button>
        {% comment %} <button onclick="location.href='/login.html';" type="button">Login</button> {% endcomment %}
        <a href="/login/" role="button">Already a Member? Login</a>
    </form>
    </div>
    <div></div>
  </article>
</main>
{% endblock %}